<div class="doc-container">
<div class="doc-content">
<h1 class="mat-display-3">Courses</h1>
<div class="divider"></div>
<h2 id="bca" class="mat-title">B.C.A. (Bachelor of Computer Application)</h2>
<p class="mat-body-1">
	<b>Duration:</b> Three years<br>
	<b>Eligibility:</b> Higher Secondary (10+2) or Equivalent with 40% from any stream 
	(35% for reserved category and 40% for open category candidates) and English as one of the subjects<br>
	<b>Admission:</b> On the basis of availability and merit<br>
	<b>Course Structure:</b> 48 Lectures/Paper/Term
</p>
<div style="margin-bottom: 20px;">
	<mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>First Year B.C.A.</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-I</b></p>
				<p class="mat-body-1">
					<b>101</b> - Modern Operating Environment and MS Office<br>
					<b>102</b> - Financial Accounting<br>
					<b>103</b> - Programming Principles and Algorithms<br>
					<b>104</b> - Business Communication<br>
					<b>105</b> - Principles of Management<br>
					<b>106</b> - Laboratory Course - I (Based on paper No. 101 & 102)
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-II</b></p>
				<p class="mat-body-1">
					<b>201</b> - Procedure Oriented Programming Using C<br>
					<b>202</b> - Database Management System<br>
					<b>203</b> - Organizational Behavior<br>
					<b>204</b> - Computer Application in Statistics<br>
					<b>205</b> - E-commerce Concept<br>
					<b>206</b> - Laboratory Course - II (Based on paper No. 201 & 202)	
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Second Year B.C.A.</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-III</b></p>
				<p class="mat-body-1">
					<b>301</b> - Relational Database Management System<br>
					<b>302</b> - Data Structure Using C<br>
					<b>303</b> - Operating System Concept<br>
					<b>304</b> - Business Mathematics<br>
					<b>305</b> - Software Engineering<br>
					<b>306</b> - Laboratory Course - III (Based on paper No. 301 & 302)
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-IV</b></p>
				<p class="mat-body-1">
					<b>401</b> - OOP's Using C<br>
					<b>402</b> - Programming in Visual Basic<br>
					<b>403</b> - Computer Networking<br>
					<b>404</b> - Enterprise Resource Planning<br>
					<b>405</b> - Human Resource Management<br>
					<b>406</b> - Laboratory Course - IV (Based on paper No. 401 & 402)			
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Third Year B.C.A.</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-VI</b></p>
				<p class="mat-body-1">
					<b>501</b> - Java Programming<br>
					<b>502</b> - Web Technologies<br>
					<b>503</b> - Dot NET Programming<br>
					<b>504</b> - Object Oriented Software Engineering<br>
					<b>505</b> - Software Project I (Based on C++/VB Tech)<br>
					<b>506</b> - Laboratory Course - V (Based on paper No. 501 & 502)
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester-VI</b></p>
				<p class="mat-body-1">
					<b>601</b> - Advanced Web Technology<br>
					<b>602</b> - Advanced Java<br>
					<b>603</b> - Recent Trends in IT<br>
					<b>604</b> - Software Testing<br>
					<b>605</b> - Software Project II (Based on Java/Dot NET Technology)<br>
					<b>606</b> - Laboratory Course - VI (Based on paper No. 601 & 602)			
				</p>
			</div>
		</div>
	</mat-expansion-panel>	
	</mat-accordion>
</div>
<mat-card style="margin-bottom: 40px;">
	<mat-card-header>
		<mat-card-title><b>Examination Pattern</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class="mat-body-1">
		1. Semester Exam of 80 + 20 pattern.<br>
		2. Semester End University Exam 80 Marks + Internal 20 Marks		 
	</mat-card-content>
</mat-card>


<div class="divider"></div>
<h2 id="bcom" class="mat-title">B. Com (Bachelor of Commerce)</h2>
<p class="mat-body-1">
	<b>Duration:</b> Three years<br>
	<b>Eligibility:</b> Higher Secondary (10+2) or Equivalent with English<br>
	<b>Admission:</b> On the basis of availability and merit<br>
	<b>Course Structure:</b> 48 Lectures/Paper/Term
</p>
<div  style="margin-bottom: 20px;">
	<mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>First Year B.Com</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Compulory Subject</b></p>
				<p class="mat-body-1">
					<b>1)</b> Compulsory English<br>
					<b>2)</b> Financial Accounting (Theory + Peactical)<br>
					<b>3)</b> Business Economics (Micro)<br>
					<b>4)</b> Optional English (Theory + Practical)
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Optional Group</b></p>
				<p class="mat-body-1">
					<b>5)</b> Mathematics & Statistics OR Computer Concepts & Programming<br>
					<b>6)</b> Organization Skill Development OR Banking and Finance<br>
					<b>7)</b> Marketing & Salesmanship OR Business Environment & Entrepreneurship	
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Second Year B.Com</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Compulory Subject</b></p>
				<p class="mat-body-1">
					<b>1)</b> Business Communication<br>
					<b>2)</b> Corporate Accounting (Theory + Peactical)<br>
					<b>3)</b> Business Economics (Micro)<br>
					<b>4)</b> Principles & Functions of Management<br>
					<b>5)</b> Elements of Company Law
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Optional Group</b></p>
				<p class="mat-body-1">
					<b>6)</b> Indian Banking System - I OR<br>
					   Cost & Works Accounting - I OR<br>
					   Computer Application - I				
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Third Year B.Com</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Compulory Subject</b></p>
				<p class="mat-body-1">
					<b>1)</b> Business Regulatory Framework (M. Law)<br>
					<b>2)</b> Advanced Accounting<br>
					<b>3)</b> Indian & Global Economic Development<br>
					<b>4)</b> Auditing & Taxation (Theory + Practical)
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Optional Group</b></p>
				<p class="mat-body-1">
					<b>5)</b> <b>Optional Paper - II (Any one of following)</b><br>
						a) Banking & Finance - II (Theory + Practical) OR<br>
						b) Computer Application - II (Theory + Practical) OR<br>
						c) Cost & Works Accounting - II (Theory + Practical)<br>
					<b>6)Optional Paper - III (Any one of following)</b><br>
					    a) Banking & Finance - III (Theory + Practical) OR<br>
					    b) Computer Application - III (Theory + Practical)<br>
					    c) Cost & Works Accounting - III (Theory + Practical)			
				</p>
			</div>
		</div>
	</mat-expansion-panel>	
	</mat-accordion>
</div>

<mat-card style="margin-bottom: 20px;">
	<mat-card-header>
		<mat-card-title><b>Examination Pattern</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class="mat-body-1">
		The students should note that 80-20 pattern is applicable to all classes - F. Y. B.Com, S. Y. B.com & T. Y. B.Com.
		There will be a term-end exam of 60 marks converted into 20 marks & the university exam will be of 80 marks.
		The sunjects having 20 marks and practical exams have 60 marks University exam.
	</mat-card-content>
</mat-card>

<mat-card style="margin-bottom: 40px;">
	<mat-card-header>
		<mat-card-title><b>Note</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class="mat-body-1">
		It is compulsory for all the S. Y. B.Com students to pass "A course in Environment Awareness" offered
		by the University of Pune. The students who fail to appear & pass this course , will not get their degree certificate
		. The fees for the course will be charged seperately, according to the University norm.
	</mat-card-content>
</mat-card>

<div class="divider"></div>
<h2 id="bsc" class="mat-title">B.Sc (Computer Science)</h2>
<p class="mat-body-1">
	<b>Duration:</b> Three years<br>
	<b>Eligibility:</b> The student should have passed Higher Secondary (10+2) in Science with Mathematics or
	Three years diploma course after S.S.C. conducted by Government of Maharashtra or equivalent<br>
	<b>Admission:</b> On the basis of availability and merit<br>
	<b>Course Structure:</b> 36 Lectures/Paper/Term of F. Y. 48 Lectures/Paper/Semester of S.Y. and T.Y.
</p>
<div style="margin-bottom: 20px;">
	<mat-accordion>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>First Year B.Sc (Computer Science)</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1">
					<b>1)</b> 11423 - Statistical Practical<br>
					<b>2)</b> 11323 - Electronics Practical<br>
					<b>3)</b> 11123 - Computer Science Practical Paper - I<br>
					<b>4)</b> 11124 - Computer Science Practical Paper - II<br>
					<b>5)</b> 11223 - Mathematics Practical<br>
					<b>6)</b> 11421 - Statistical Method - I<br>
					<b>7)</b> 11422 - Statistical Method - II
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1">
					<b>8)</b> 11321 - Principles of Analog Electronics<br>
					<b>9)</b> 11322 - Principles of Digital Electronics<br>
					<b>10)</b> 11121 - Problem Solving Using Computer and C Programming<br>
					<b>11)</b> 11122 - File Organization & Fundamentals of Database<br>
					<b>12)</b> 11221 - Discrete Mathematics<br>
					<b>13)</b> 11222 - Algebra & Calculus
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Second Year B.Sc (Computer Science)</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container">
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester - I</b></p>
				<p class="mat-body-1">
					<b>1)</b> CS-211 - Data Structures using C<br>
					<b>2)</b> CS-212 - Relational Database Management System (RDBMS)<br>
					<b>3)</b> MTC-211 - Linear Algebra<br>
					<b>4)</b> MTC-212 - Numerical Analysis<br>
					<b>5)</b> E1-ELC-211 - Microprocessor Architecture and Programming P - 1<br>
					<b>6)</b> E1-ELC-212 - Communication Principles<br>
					<b>7)</b> English
				</p>
			</div>
			<div style="width: 50%;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester - II</b></p>
				<p class="mat-body-1">
					<b>1)</b> CS-221 - Object Oriented Concepts & Programming is C++<br>
					<b>2)</b> CS-222 - Software Engineer<br>
					<b>3)</b> CS-223 - Computer Science Practical Paper I<br>
					<b>4)</b> CS-224 - Practical Paper II<br>
					<b>5)</b> MTC-221 - Computational Geometry<br>
					<b>6)</b> MTC-222 - Operations Research (Paper II)<br>
					<b>7)</b> Practical Mathematics<br>
					<b>8)</b> E1-ELC-221 - Microcontroller & Embedded Systems<br>
					<b>9)</b> E1-ELC-222 - Digital Signal Processing<br>
					<b>10)</b> Practical Electronics<br>
					<b>11)</b> Compulsory English<br>
					<b>12)</b> A course in Environmental Awareness		
				</p>
			</div>
		</div>
	</mat-expansion-panel>
	<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>Third Year B.Sc (Computer Science)</b>
			</mat-panel-title>
			<mat-panel-description>
				<b>{{panelOpenState ? 'Course Content' : ''}}</b>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<div class="course-content-container" style="margin-bottom: 10px;">
			<div style="margin-right: 300px;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester - III</b></p>
				<p class="mat-body-1">
					<b>1)</b> CS-331 : Paper I : System Programming & Operating System-I<br>
					<b>2)</b> CS-332 : Paper II : Theoretical Computer Science & Compiler Construction-I<br>
					<b>3)</b> CS-333 : Paper III : Computer Networks-I<br>
					<b>4)</b> CS-334 : Paper IV : Web Development & PHP Programming-I<br>
					<b>5)</b> CS-335 : Paper V : Programming in Java-I<br>
					<b>6)</b> CS-336 : Paper VI : Object Oriented Software Engineering
				</p>
			</div>
			<div>
				<p class="mat-body-1" style="color: #00BCD4;"><b>Semester - IV</b></p>
				<p class="mat-body-1">
					<b>7)</b> CS-341 : Paper I : System Programming & Operating System-II<br>
					<b>8)</b> CS-342 : Paper II : Theoretical Computer Science & Compiler Construction-II<br>
					<b>9)</b> CS-343 : Paper III : Computer Networks-II<br>
					<b>10)</b> CS-344 : Paper IV : Web Development & PHP Programming-II<br>
					<b>11)</b> CS-345 : Paper V : Programming in Java-II<br>
					<b>12)</b> CS-346 : Paper VI : Business Applications
				</p>
			</div>
		</div>
		<div class="course-content-container">
			<div style="margin-right: 300px;">
				<p class="mat-body-1" style="color: #00BCD4;"><b>Laboratory Courses</b></p>
				<p class="mat-body-1">
					<b>1)</b> CS-347 : Lab Course I : System Programming & Operating System<br>
					<b>2)</b> CS-348 : Lab Course II : Programming in Java & PHP<br>
					<b>3)</b> CS-349 : Lab Course III : Project (using Java & PHP)
				</p>
			</div>
		</div>
	</mat-expansion-panel>		
	</mat-accordion>
</div>

<mat-card style="margin-bottom: 20px;">
	<mat-card-header>
		<mat-card-title><b>Examination Pattern</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class="mat-body-1">
		1. Annual pattern of 80 + 20  for F.Y. University Exam of 80 marks + Internal 20 marks<br>
		 of 80 marks + Internal 20 marks<br>
		 (100 marks for each subject)<br>
		 2. Semester Pattern for S.Y. & T.Y. University Exams of 40 marks + Internal 10 marks<br>
		 (50 marks for each subject)		 
	</mat-card-content>
</mat-card>

<mat-card style="margin-bottom: 40px;">
	<mat-card-header>
		<mat-card-title><b>Note</b></mat-card-title>
	</mat-card-header>
	<mat-card-content class="mat-body-1">
		It is compulsory for all the S. Y. B.Sc students to pass "A course in Environment Awareness" offered
		by the University of Pune. The students who fail to appear & pass this course , will not get their degree certificate
		. The fees for the course will be charged seperately, according to the University norm.
	</mat-card-content>
</mat-card>
</div>
<div class="table-of-contents">
	<div class="table-container">
		<div style="margin-left: 10px;">
			<div style="font-size: 13px; font-weight: 700; line-height: 1.7;">Contents<br></div>
			<a style="font-size: 13px; line-height: 1.7;" mat-list-item (click)="scrollTo('bca');" role="listitem">B.C.A.</a>
			<a style="font-size: 13px; line-height: 1.7;" mat-list-item (click)="scrollTo('bcom');" role="listitem">B.Com</a>
			<a style="font-size: 13px; line-height: 1.7;" mat-list-item (click)="scrollTo('bsc');" role="listitem">B.Sc</a>
		</div>		
	</div>
</div>
</div>
