<div class="doc-container">
	<div class="doc-content">
		<h1 id="about-college" class="mat-display-3">About College</h1>
		<div class="divider"></div>
		<div>
			<div>
				<p class="mat-body-1"><b>Aim</b><br>
 				The aim of our college is to provide a supportive and challenging environment in which students acquire knowledge, 
 				exercise good citizenship and adhere to high ethical standards. The principle focus of the college's academic 
 				program is undergraduate education in selected liberal and pre-professional studies, the the role of teaching is central to the 
 				college's mission.</p>
 			<p class="mat-body-1"><b>Vision</b><br>
 				Our college is committed to develop in young minds the state-of-the-art technology and high academic ambiance by 
 				synergistic spiritual and technological competence continually, in a learning environment.
 			</p>
 			<p class="mat-body-1"><b>Mission</b><br>
 				Our mission is to provide an environment that allows future leaders to realize their potential in full and gives 
 				them the opportunity to develop  their individuality and skills through education that is backed by cutting-edge 
 				research.
 			</p>
 			<p class="mat-body-1">
 				To develop professionals who are committed to their personal and professional endeavors and who have the vision, 
 				courage and dedication to initiate and manage the change.
 			</p>							
			</div>
			<img class="aboutclgimg" src="./assets/aboutclgimg.jpg">
  		</div>
  		
  		<div class="section-seperator"></div>
  		
  		<h1 id="infrastructure" class="mat-display-3">Infrastructure</h1>
		<div class="divider"></div>
  		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Land and Building</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>Build Up Area (in Sq. ft.)</td>
							<td>:</td>
							<td>16146</td>
							<td><mat-divider></mat-divider></td>
						</tr>						
						<tr>
							<td>Land Area (in Acres)</td>
							<td>:</td>
							<td>1</td>
							<mat-divider></mat-divider>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>Play ground/Sports/games Area (in Sq. ft.)</td>
							<td>:</td>
							<td>20000</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Hostel</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>No. of Seats in Boys Hostel</td>
							<td>:</td>
							<td>25</td>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>No. of Seats in Girls Hostel</td>
							<td>:</td>
							<td>25</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Teaching / Learning</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>No. of Class Rooms</td>
							<td>:</td>
							<td>3</td>
						</tr>
						<tr>
							<td>No. of Tutorial Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Laboratories</td>
							<td>:</td>
							<td>2</td>
						</tr>
					</table>
					<table style="width:50%;">
						<tr>
							<td>No. of Seminar Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Conference Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Committee Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Library</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>Seating capacity of Library Reading Room</td>
							<td>:</td>
							<td>20</td>
						</tr>
						<tr>
							<td>No. of Multimedia Literature</td>
							<td>:</td>
							<td>3</td>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>No. of Books in the library</td>
							<td>:</td>
							<td>635</td>
						</tr>
						<tr>
							<td>No. of Journals subscribed</td>
							<td>:</td>
							<td>7</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title><p class="mat-title">Gallery</p></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<img src="./assets/infra1.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra2.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra3.jpg" style="flex-grow:1;">
				</div>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<img src="./assets/infra4.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra5.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra6.jpg" style="flex-grow:1;">
				</div>
				<div class="photo-container-row">
					<img src="./assets/infra7.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra8.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/infra9.jpg" style="flex-grow:1;">
				</div>
			</mat-card-content>
		</mat-card>
		
		<div class="section-seperator"></div>
		
		<h1 id="activities" class="mat-display-3">Activities</h1>
		<div class="divider"></div>
		<mat-card>
			<mat-card-header>
				<mat-card-title><p class="mat-title">Gallery</p></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<img src="./assets/activity1.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/activity2.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/activity3.jpg" style="flex-grow:1;">
				</div>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<img src="./assets/activity4.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/activity5.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/activity6.jpg" style="flex-grow:1;">
				</div>
				<div class="photo-container-row">
					<img src="./assets/activity7.jpg" style="margin-right: 15px; flex-grow:1;">
					<img src="./assets/activity8.jpg" style="margin-right: auto; flex-grow:1;">
				</div>
			</mat-card-content>
		</mat-card>
		
		<div class="section-seperator"></div>
		
		<h1 id="principal-desk" class="mat-display-3">From Principal's Desk</h1>
		<div class="divider"></div>
		<div class="flex-box">
			<div style="margin-right: 30px;">
 				<p class="mat-body-1">I believe in developing responsible citizenship and social responsibility by perception
 				 and example. We provide a friendly and supportive environment that not only enhance the self-esteem of each 
 				 individual but also challenges each to develop understanding skills, abilities and talents to the full. We 
 				 expect and  Patil Junior College values it's past builds upon its strengths, approaching new as it continuously 
 				 looks to future.</p>
				<p class="mat-body-1" style="text-align: right;">Principle<br>Dr. D.Y. Patil Junior College</p>
 			</div>
 			<img class="principaldeskimg" src="./assets/principle.jpg">
		</div>
		
		<div class="section-seperator"></div>
			
		<h1 id="about-sanstha" class="mat-display-3">Dr. D.Y. Patil Shikshan Sanstha Group of Educational Campus</h1>
		<div class="divider"></div>
		<mat-card style="margin-bottom: 20px;">
			<mat-card-header>
				<mat-card-title><p class="mat-title">Gallery</p></mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<div class="photo-container"  style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img1.jpg">
						<div class="text-block">Dr. D.Y. Patil Senior College</div>
					</div>
					<div class="photo-container"  style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img2.jpg">
						<div class="text-block">Dr. D.Y. Patil English Medium School</div>
					</div>
					<div class="photo-container"  style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img3.jpg">
						<div class="text-block">Dr. D.Y. Patil MBA College</div>
					</div>															
				</div>
				<div style="margin-bottom: 15px;" class="photo-container-row">
					<div class="photo-container" style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img4.jpg">
						<div class="text-block">Dr. D.Y. Patil Bud's International School</div>
					</div>
					<div class="photo-container" style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img5.jpg">
						<div class="text-block">DYPSS Hostel</div>
					</div>
					<div class="photo-container" style="margin-right: 15px; flex-grow:1;">
						<img src="./assets/as-img6.jpg">
						<div class="text-block">Dr. D.Y. Patil Sports Academy</div>
					</div>					
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	
	<div class="table-of-contents">
		<div class="table-container">
			<div style="margin-left: 10px;">
				<div style="font-size: 13px; font-weight: 700; line-height: 1.7;">Contents<br></div>
				<a id="content-list-item" mat-list-item (click)="scrollTo('about-college');">About College</a>
				<a id="content-list-item" mat-list-item (click)="scrollTo('infrastructure');">Infrastructure</a>
				<a id="content-list-item" mat-list-item (click)="scrollTo('activities');">Activities</a>
				<a id="content-list-item" mat-list-item (click)="scrollTo('principal-desk');">From Principal's Desk</a>				
				<a id="content-list-item" mat-list-item (click)="scrollTo('about-sanstha');">About Sanstha</a>
			</div>
		</div>
	</div>
</div>

