<div class="doc-container">
	<div class="doc-content">
		<h1 id="about-college" class="mat-display-3">About College</h1>
		<div class="divider"></div>
		<div class="flex-box">
 			<div style="margin-right: 30px;">
 				<p class="mat-body-1">Dr. D.Y. Patil Arts, Commerce and Science College is a distinguished degree College affiliated
 			 	to the University of Pune. It is situated away from din and bustle of the metropolitan Pune, just a few yards off the
 			  	Bombay-Pune Highway behind H.D.F.C. Colony, Shaunagar, Chinchwad, Pune.</p>
				<p class="mat-body-1">In addition to the senior section, the college has junior section, imparting education to F.Y.J.C.
			 	and S.Y.J.C. in Commerce, Science and Bifocal(Computer Science).</p>
				<p class="mat-body-1">The college has established in 2011 by S.M. Dr. D.Y. Patil Shikshan Sanstha with the view of
			 	providing quality education in various courses of studies leading to B.Com, B.Sc, Computer Science, B.C.A. affiliated
			  	to university of Pune.</p>
				<p class="mat-body-1">The college has pledged to adopt the tradition of rigorous training, individual attention and
			 	periodical tested which are unanimously acknowledged as a key to excellent performance yielding positive and encouraging
			  	results as a result the students maintain commendable results in university exams and return home with laurels
			   	of victor won in various competitions and tournaments.</p>			
 			</div>
			<img class="aboutclgimg" src="./assets/aboutclgimg.jpg">
  		</div>
  		
  		<div class="section-seperator"></div>
  		
  		<h1 id="infrastructure" class="mat-display-3">Infrastructure</h1>
		<div class="divider"></div>
  		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Land and Building</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>Build Up Area (in Sq. ft.)</td>
							<td>:</td>
							<td>16146</td>
							<td><mat-divider></mat-divider></td>
						</tr>						
						<tr>
							<td>Land Area (in Acres)</td>
							<td>:</td>
							<td>1</td>
							<mat-divider></mat-divider>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>Play ground/Sports/games Area (in Sq. ft.)</td>
							<td>:</td>
							<td>20000</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Hostel</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>No. of Seats in Boys Hostel</td>
							<td>:</td>
							<td>25</td>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>No. of Seats in Girls Hostel</td>
							<td>:</td>
							<td>25</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card style="margin-bottom: 10px;">
			<mat-card-header>
				<mat-card-title class="mat-title">Teaching / Learning</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>No. of Class Rooms</td>
							<td>:</td>
							<td>3</td>
						</tr>
						<tr>
							<td>No. of Tutorial Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Laboratories</td>
							<td>:</td>
							<td>2</td>
						</tr>
					</table>
					<table style="width:50%;">
						<tr>
							<td>No. of Seminar Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Conference Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
						<tr>
							<td>No. of Committee Rooms</td>
							<td>:</td>
							<td>1</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-title">Library</mat-card-title>
			</mat-card-header>
			<mat-card-content class="infratable">
					<table style="width: 50%;">
						<tr>
							<td>Seating capacity of Library Reading Room</td>
							<td>:</td>
							<td>20</td>
						</tr>
						<tr>
							<td>No. of Multimedia Literature</td>
							<td>:</td>
							<td>3</td>
						</tr>
					</table>
					<table style="width: 50%;">
						<tr>
							<td>No. of Books in the library</td>
							<td>:</td>
							<td>635</td>
						</tr>
						<tr>
							<td>No. of Journals subscribed</td>
							<td>:</td>
							<td>7</td>
						</tr>
					</table>
			</mat-card-content>
		</mat-card>
		
		<div class="section-seperator"></div>
	
		<h1 id="principal-desk" class="mat-display-3">From Principal's Desk</h1>
		<div class="divider"></div>
		<div class="flex-box">
			<div style="margin-right: 30px;">
 				<p class="mat-body-1">I believe in developing responsible citizenship and social responsibility by perception
 				 and example. We provide a friendly and supportive environment that not only enhance the self-esteem of each 
 				 individual but also challenges each to develop understanding skills, abilities and talents to the full. We 
 				 expect and  Patil Senior College values it's past builds upon its strengths, approaching new as it continuously 
 				 looks to future.</p>
				<p class="mat-body-1" style="text-align: right;">Principle<br>Dr. D.Y. Patil Senior College</p>
 			</div>
 			<img class="principaldeskimg" src="./assets/principaldesk.jpg">
		</div>
		
		<div class="section-seperator"></div>
			
		<h1 id="about-sanstha" class="mat-display-3">Dr. D.Y. Patil Shikshan Sanstha Group of Educational Campus</h1>
		<div class="divider"></div>
		<div style="margin-bottom: 20px;">
			<mat-grid-list style="margin-top: 30px;" cols="3" rowHeight="2:1">
  				<mat-grid-tile>
  					<div class="img-container"></div>
  					<img class="as-img" src="./assets/as-img1.jpg">
  					<div class="text-block">
    					<p style="font-size: 10px;">Dr. D.Y. Patil Senior College</p>
  					</div>
  				</mat-grid-tile>
  				<mat-grid-tile>
  					<div class="img-container"></div>
  					<img class="as-img" src="./assets/as-img2.jpg">
  					<div class="text-block">
    					<p style="font-size: 10px;">Dr. D.Y. Patil English Medium School(State Board)</p>
  					</div>
  				</mat-grid-tile>
  				<mat-grid-tile>
  					<div class="img-container"></div>
  					<img class="as-img" src="./assets/as-img3.jpg">
  					<div class="text-block">
    					<p style="font-size: 10px;">Dr. D.Y. Patil Centre for Management and Research(MBA)</p>
  					</div>
  				</mat-grid-tile>
  				<mat-grid-tile>
  					<div class="img-container"></div>
  					<img class="as-img" src="./assets/as-img4.jpg">
  					<div class="text-block">
    					<p style="font-size: 10px;">Dr. D.Y. Patil Buds International School(CBSC)</p>
  					</div>
  				</mat-grid-tile>
  				<mat-grid-tile>
  					<div class="img-container"></div>
  					<img class="as-img" src="./assets/as-img5.jpg">
  					<div class="text-block">
    					<p style="font-size: 10px;">DYPSS Hostel</p>
  					</div>
  				</mat-grid-tile>
  			<mat-grid-tile>
  				<div class="img-container"></div>
  				<img class="as-img" src="./assets/as-img6.jpg">
  				<div class="text-block">
    				<p style="font-size: 10px;">Dr. D.Y. Patil Sports Academy</p>
  				</div>
  			</mat-grid-tile>
		</mat-grid-list>		
		</div>
	</div>
	
	<div class="table-of-contents">
		<div class="table-container">
			<div style="margin-left: 10px;">
				<div style="font-size: 13px; font-weight: 700; line-height: 1.7;">Contents<br></div>
				<a id="content-list-item" mat-list-item (click)="scrollTo('about-college');">About College</a>
				<a id="content-list-item" mat-list-item (click)="scrollTo('infrastructure');">Infrastructure</a>
				<a id="content-list-item" mat-list-item (click)="scrollTo('principal-desk');">From Principal's Desk</a>				
				<a id="content-list-item" mat-list-item (click)="scrollTo('about-sanstha');">About Sanstha</a>
			</div>
		</div>
	</div>
</div>

