.section-seperator {
	height: 40px;
}

.contact-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mat-display-3 {
	font-weight: 100;
	margin-bottom: 5px;
	line-height: 70px;
}

a {
	color: #737373 !important;
	cursor: pointer;
}

a:link {
	color: #00BCD4 !important;
}

a:hover {
	color: #00BCD4 !important;
}

agm-map {
  height: 400px;
}