.spacing {
	flex: auto;
}

.router-outlet {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
}

.logo {
	margin-right: 15px;
}

#website-title {
	color: #000000;
	opacity: 0.9;
}

.mat-subheading-2 {
	font-weight: lighter;
	font-size: 20px;
}

.mat-display-4 {
	font-size:40px;
	font-weight: lighter;
}

.mat-subheading-1 {
	font-weight: lighter;
	font-size: 15px;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.toolbar-tabs {
	overflow: hidden;
	position: relative;
	z-index: 2;
   	background: #212121;
}

.toolbar-header {
	position: relative;
   	z-index: 1;
  	display: flex;
  	justify-content: left;
  	flex-direction: row;
  	background: #F5F5F5;
}

.toolbar-tab-title {
	position: relative;
   	z-index: 0;   	
  	background: #ADD8E6;
}

.flex-container-tabs {
	display: flex;
	flex-direction: row;
}

#tab-buttons {
	color: #FFFFFF;
	height: 70%;
	text-transform: uppercase;
}

a.active {
	background: #000000;
}

.tab-title {
	color: black;
	font-size: 24px;
	font-weight: lighter;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
	background: #212121;
	height: 150px;
	display: flex;
}

.gmimg {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
    max-height: 95%;
}