/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

.mat-display-3 {
	font-weight: lighter;
	margin-bottom: 5px;
	line-height: 70px;
}

.mat-body-1 {
	text-align: justify;
	font-weight: lighter;
}

.divider {
	margin-right: 14px;
	margin-bottom: 14px;
	background-color: #00BCD4;
	width: 100%;
	height: 3px;
}

.divider-vertical {
	margin-right:10px;
	background-color: #00BCD4;
	height: 100%;
	width: 3px;
}

.table-of-contents {
	border-left: 3px solid #00BCD4;
	top: 35px;
    position: sticky;
    margin-left: 18px;
}

.doc-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
    max-width: 940px;
    margin: 0 auto;
}

.doc-content {
	flex-grow: 1;
    width: 80%;
}
