.cards-container {
	display: flex;
	flex-direction: row;
}

.slideshow-container {

}

.img {
	width: 80%;
}

.mat-body-1 {
	text-align: justify;
}

.card-items {
	background: primary;
}