<mat-card class="slideshow-container">
	<div class="slides">
	</div>
</mat-card>

<div class="cards-container">
	<mat-card class="card-items" style="margin-right:7.5px;">
		<div>
			<span style="float:left;"><img class="img" src="/assets/messg1.jpg"></span>
			<p class="mat-body-1"><b>Mrs. Kusum B. Kotkar,</b> Chairman, Shikshan Maharshi Dr. D.Y. Patil Shikshan Sanstha</p>
			<p class="mat-body-1">Dr. D.Y. Patil Senior College has been modeled on the best practices of the modern schools in and around the country. The curriculum helps the students to have intellectual as well as rounded personality development of the child. Dr. D. Y. Patil Senior College attracts students from various places and train them to aspire to become the future leaders realizing their responsibilities towards others. Students here get exposed to a broad range of culture, beliefs which help them to show tolerance at adulthood. Dr. D. Y. Patil Senior College is an international ambitious, outward looking modern school which also emphasis on discipline, courtesy, honesty as their virtues to make these the strength of it's students.</p>
			<p class="mat-body-1">Wishing you all the best!</p>	
		</div>
	</mat-card>
	<mat-card class="card-items" style="margin-left:7.5px;">
		<div>
			<span style="float:left;"><img class="img" src="/assets/messg2.jpg"></span>
			<p class="mat-body-1"><b>Shri. Abhay B. Kotkar,</b> Vice President, Shikshan Maharshi Dr. D.Y. Patil Shikshan Sanstha</p>
			<p class="mat-body-1">Dr. D. Y. Patil Senior College aims in imparting Quality education to children as we believe that school is a foundation where moral and ethical standards should be inculcated among children. We at Dr. D. Y. Patil Senior College School strive to practice it by providing them state of the art facilities & opportunities and develop children into socially responsible citizens. Other courses run by Shikshan Maharshi Dr. D. Y. Patil Shikshan Sanstha are Dr. D. Y. Patil College of Arts, Science & Commerce (Affiliated to University of Pune) & Dr. D. Y. Patil Centre For Management and Research (MBA)(Approved by AICTE, Affiliated to University of Pune and Recognized by Government of Maharashtra). The Sanstha provides education from KG to PG</p>
		</div>
	</mat-card>
</div>
	